
<div class="main-panel" *ngIf="person" class="col-md-12">	
	<div class="profile-background" [ngStyle]="{'background-image': 'url(' + view.images + person.profile_path + ')'}"></div>
	<div class=" gradient">
	<!-- ================ INFO PANEL ================ -->
	<div  class="person-info-container">
		<div class="center-aling">
		<!--============================ PANEL LEFT========================= -->
			<div   class="person-info-panel-left">
				<!-- <div style="width: 350px; height: 30px; background-color: white;"></div> -->
				<div class="actor-profile-image" [ngStyle]="{'background-image': 'url(' + view.images + getProfileImage() + ')'}">
					<div class="decorative-shadow"></div>	
				</div>
				<div class="actor-detail-panel">
					<!-- <p>Popularity: {{person.popularity | percentage : 4}} </p> -->
					<div class="actor-detail-panel-left">
						<p align="center" class="number-of-movies">{{person.movie_credits.cast.length}}</p>
						<p align="center" class="tag-movies-known-for">Movies known for</p>
					</div>
					<div class="actor-detail-panel-right">
						<p *ngIf="person.gender == 1"><b>Gender:</b> Female</p>
						<p *ngIf="person.gender == 2"><b>Gender:</b> Male</p>
						<p><b>Birthday:</b> {{person.birthday | date : 'mediumDate'}}</p>
						<p><b>Place of birth:</b> </p>
						<p>{{person.place_of_birth}}</p>
					</div>
				</div>
			</div>
			<!-- =========================PANEL RIGTH============== -->
			<div class="person-info-panel-right" *ngIf="person">
				
				<div class="actor-name-container">
					<p class="actor-name">{{person.name | uppercase}}</p>

					<div class="thumb-up-container" >
						<div class="thumb-up-icon"></div>
						<p class="popularity-tag">  {{person.popularity | percentage : 4}} </p>
					</div>

				</div>


				<div class="extra-detail-container">
					<p class="also-knowm-as-tag">Also known as: {{person.also_known_as[0]}}</p>
				</div>
				
				<br>

				<div class="biography-container">
			        <p class="biography">{{person.biography}}</p>

				</div>
				<br>
				<br>

				<div align="center">
					<p><b>CAST</b></p>
				</div>

				<div class="cast-movies-container">
					<div class="movie-cast"
						(click) = "goMovieDetail(cast.id)"
						[ngStyle]="{'background-image': 'url(' + view.images + cast.poster_path + ')'}"
						*ngFor="let cast of person.movie_credits.cast| slice:0:12; let i=index" align=""
						></div>
				</div>
			</div>
		</div>
	</div>
	</div>	
</div>


<!-- <button (click)="detail()">button</button> -->