
<div *ngIf="person" class="col-md-12"  
	
	style="
	/*background: black;*/
	height: 680px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position: right;

">	
	<div [ngStyle]="{'background-image': 'url(' + view.images + person.profile_path + ')'}" style="
		filter: grayscale(100%);
		-webkit-filter: grayscale(100%); 
		height: 680px;
		width: 100%;
		position: absolute;
		z-index: -100;
		background-repeat:no-repeat;
		background-attachment:fixed;
		background-position: right;
		background-size: 600px 900px; 
		background-color: black;              
		">
		
	</div>
	<div style="

			padding: 0px;
			margin: 0px;
			width: : 100%;
			height: 680px;
			background: rgba(0,0,0,1);
background: -moz-linear-gradient(left, rgba(0,0,0,1) 50%, rgba(0,0,0,0.87) 71%, rgba(0,0,0,0.69) 100%);
background: -webkit-gradient(left top, right top, color-stop(50%, rgba(0,0,0,1)), color-stop(71%, rgba(0,0,0,0.87)), color-stop(100%, rgba(0,0,0,0.69)));
background: -webkit-linear-gradient(left, rgba(0,0,0,1) 50%, rgba(0,0,0,0.87) 71%, rgba(0,0,0,0.69) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,1) 50%, rgba(0,0,0,0.87) 71%, rgba(0,0,0,0.69) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,1) 50%, rgba(0,0,0,0.87) 71%, rgba(0,0,0,0.69) 100%);
background: linear-gradient(to right, rgba(0,0,0,1) 50%, rgba(0,0,0,0.87) 71%, rgba(0,0,0,0.69) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
">
	<!-- ================ INFO PANEL ================ -->
	<div style="padding-top: 100px;">
		<div style="width:80% ; margin: 0 auto;">
			<div  style="float: left;  width: 34%;">
				<!-- <div style="width: 350px; height: 30px; background-color: white;"></div> -->
				<div 
				[ngStyle]="{'background-image': 'url(' + view.images + getProfileImage() + ')'}"
					style="
						position: relative;
						background-repeat: no-repeat;
						height: 0px;
						padding-bottom: 115%;
						background-size: cover;
						/*outline: 1px solid red;*/

				">
					<div style="
						position: relative;

						height: 30px;
						background-color: rgba(0,0,0,0.5);
						
						">
						<!-- <p>95</p>
						<p>movies known for</p>
						 -->
					</div>	
				</div>

				<div style="
					height: 100px;
					background-color: white;
					width: 100%;

				">
					<!-- <p>Popularity: {{person.popularity | percentage : 4}} </p> -->
					<div style="float: left; width: 25% ; color: rgba(255,0,0,0.8)">
						<p align="center" style="font-size: 40px; margin-top: 10%; font-weight: bold; ;">{{person.movie_credits.cast.length}}</p>
						<p align="center" style="font-size: 12px; margin: 0% 10% 0% 10%; "  >Movies known for</p>
					</div>

					<div style="float: left; width: 75%; margin-top: 3%;">
						<p *ngIf="person.gender == 1"><b>Gender:</b> Female</p>
						<p *ngIf="person.gender == 2"><b>Gender:</b> Male</p>
						<p><b>Birthday:</b> {{person.birthday | date : 'mediumDate'}}</p>
						<p><b>Place of birth:</b> </p>
						<p>{{person.place_of_birth}}</p>
					</div>
					
					
					
				</div>

			</div>

			<!-- =========================PANEL RIGTH============== -->
			
			<div *ngIf="person" style=" float: left;  padding-left:6%; width: 60%; color:white; ">
				
				<div style="color: white; padding: 0px, margin: 0px;">
					<p style="float: left; font-size: 35px; font-weight: bold; margin-right: 30px;">{{person.name | uppercase}}</p>

					<div style="float: left; height: 32px; width: 150px;">
						<div style="float: left; margin: 0 auto;background-repeat: no-repeat; background-image:url('../../../../assets/icons/thumb-up-white-32.png'); background-position: 0px 2px; opacity:0.7; height:32px; width: 32px;">
								
						</div>
						<p style="float: left; font-size: 35px; font-weight: bold; color: rgba(255,255,255,0.6);">  {{person.popularity | percentage : 4}} </p>
					</div>

				</div>


				<div style="float: left; width: 100%">
					<p style="color: rgba(255,0,0,0.7); font-style: italic; padding: 0px, margin: 0px;">
						Also known as: {{person.also_known_as[0]}}
					</p>
				</div>
				
				<br>

				<div  style="margin-left:auto; margin-right:auto; margin-top: 80px; width:100%; height:150px; overflow-y:auto;">

			        <p id="desc" style="float:left;  width:100%;  font-size: 15px; line-height: 18px;">
			        	{{person.biography}}
			        </p>

				</div>
				<br>
				<br>

				<div class="col-md-12" style="
					position: relative;
					width: 35%;
					/*bottom: 0px;*/
					margin: 0 auto;
					height: 0px;
					border-top-right-radius: 50%;
					border-top-left-radius: 50%;
					border-bottom: 20px solid rgba(255,0,0,0.4);
					border-left: 40px solid transparent;
					border-right: 40px solid transparent;
				">
				<p align="center" style="color: white;margin: 0px; padding-top: 3px; font-size: 17px; opacity: 1;">
					Cast
				</p>	
				</div>

				<div style="position: relative;
							width: 100%; 
							background-color: red;">
					<div 
						style="
							cursor: pointer;
							width: 15.7%;
							padding-top: 15.7%;
							margin-left: 0.8%;
		    		 		margin-top: 0.8%;
							outline: 1px solid rgba(255, 255,255, 0.1);
							background-repeat: no-repeat;
							background-size: cover;
							float: left;
						"
						(click) = "goMovieDetail(cast.id)"
						[ngStyle]="{'background-image': 'url(' + view.images + cast.poster_path + ')'}"
						*ngFor="let cast of person.movie_credits.cast| slice:0:12; let i=index" align=""
						>
						
					</div>
					
				</div>
				
			</div>

			
		</div>
	</div>


	</div>	
</div>


<!-- <button (click)="detail()">button</button> -->