<div class="main-panel">
	<div class="people-container"
		*ngFor="let person of view.people.results| slice:0:18">
		 
		 <div class="person-tile" *ngIf="person"
			[ngStyle]="{'background-image': 'url(' + view.images + person.profile_path + ')'}"
			(click)="goPersonDetail(person.id)" >
			<div class="shadow-container">
				
				<div class="shadow-info">
					<div class="info-panel-left">
						<div class="thumb-up-icon"></div>
						<div>
							<p align="center">{{person.popularity | percentage : 4 }}</p>
							<!-- {{substringPorcent(person.popularity) }} -->
						</div>
					</div>

					<div class="info-panel-right" >
						<div>
							{{person.name }}
						</div>
						<div class="known-for-info" *ngIf="person.known_for">
							{{person.known_for[0].title}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- clear both agregado para que el float left para agregar el height al contenedor -->
	<div class="clear-both"></div>
</div>
