<div class="main-panel col-md-12" >
	<div  class="poster-background col-md-12"  
		*ngIf="view.movie.poster_path"
		[ngStyle]="{'background-image': 'url(' + view.images + view.movie.poster_path + ')'}">
		<div class="movie-info-container col-md-12">
			<div  class="movie-info-panel-left">
				<div class="movie-description">
			        <h1 class="movie-title">{{ view.movie.original_title | uppercase }}</h1>
			        <p class="movie-tagline" ><i>{{view.movie.tagline}}</i></p>
			        <br>
			        <p>{{view.movie.overview}}</p>
			        <span ng-if="view.movie.homepage">
			        	<a class="link-color" target="_blank" href="{{ view.movie.homepage }}" target=_new>
			        		{{ view.movie.homepage }}
			        	</a>
			        </span>
			        <br>
			        <br>
			        <div >
				        <div class="extra-detail">
				            <div>
				                Release Date {{ view.movie.release_date | date }}
				            </div>
				            <div >
				                Running Time {{ view.movie.runtime }} minutes
				            </div>
				        </div>
				        <div class="extra-detail">
				            <div>
				                Budget ${{ view.movie.budget | number }} USD
				            </div>
				            <div>
				                Revenue ${{ view.movie.revenue | number }} USD
				            </div>
				        </div>
			        </div>
			        <br>
			        <br>
					<br>
			        <p class="tag" *ngFor="let gen of view.movie.genres">
			        	{{gen.name}} 
			        </p>
			        <br>
			        <h3>Language: {{ view.movie.original_language |uppercase }}</h3>
			    </div>
		    </div>
		    <!--  ====================DETAIL DERECHA =========================-->	
			<div class="movie-info-panel-right">
		    	<br>
		    	<br>
		    	<div class="movie-trailer" >
			    	<div class="trailer-container">
			    		<iframe class ="trailer-iframe" frameborder="0"
			    				[src]="getTrailer()|safe">
			    		</iframe>
			    	</div>	
		    	</div>
		    	<br>
		<!--  ACTORES DE PELICULA-->
				<div align="center">
					<p style="color:white; ">
						<b>IMPORTANT CAST</b>
					</p>
				</div>
				<div class="actors-container">
					<!-- ng-click="showActor(actor.id)"  -->
		    		<div   class="actor"
		    			*ngFor="let actor of view.movie.credits.cast | slice:0:10; let i=index " 
		    			(click)="showActor(actor.id)"
		    			[ngStyle]="{'background-image': 'url(' + view.images + actor.profile_path + ')'}">
		    			<div class="shadow-container">
		    				<p  class="shadow-info">
		    					{{actor.name}}
		    				</p>
		    			</div>	
					</div>
				</div>
			</div>
			<!-- ===============================ACTOR PANEL EMERGENTE =========================== -->
			<div id="actorDetailPanel">
					<div id="actorDetailPanelPicture"></div>
					<div id="actor-info-right" *ngIf="actorInfo">
						<div>
							<h1 class="actor-name">{{actorInfo.name}}</h1>
							<p class="actor-character">Character: {{view.actor.character}}</p>
						</div>
						<br>
						<div id="biography-container">
					        <p id="biography">{{actorInfo.biography}}</p>
						</div>
						<br>
						<div id="Personal-information">
							<p>Personal Information:</p>
							<div class="half-panel" >
								<p>Gender:</p>
								<p *ngIf="actorInfo.gender==1">Female</p>
								<p *ngIf="actorInfo.gender==2">Male</p>
							</div>
							<div class="half-panel">
								<p>Birthday:</p>
								<p>{{actorInfo.birthday}}</p>	
							</div>
							
						</div>
						<div id="birth-info">
							<p>Place of birth:</p>
							<p>{{actorInfo.place_of_birth}}</p>
						</div>
						<div id="go-detail-link">
							 <p (click)="goPersonDetail(actorInfo.id)">go detail</p>
						</div>
					</div>
					<button id="close-button" (click)="closeActorDetail()"> X </button>
			</div>
		</div>
			<!-- ========================== PELICULAS SIMILARES ======================-->
		<div class="similar-movies-container col-md-12">
			<div class="similar-movies-title col-md-12">
				<p align="center" style="opacity: 0.3;">
					Similar Movies
				</p>	
			</div>
			<div class="form_container">
				<!-- transition: [property] [duration] [ease] [delay] , [property] [duration] [ease] [delay], ... -->
				<div id="slide_container">    
				    <div >
			            <!-- <a href="/detailMovie/{{ similar.id }}" title="{{ similar.title }}" *ngFor="let similar of view.movie.similar.results"> -->
		             	<div class="slide"
		             		*ngFor="let similar of view.movie.similar.results"
		             		(click)="goMovieDetail(similar.id)" 
		             		[ngStyle]="{'background-image': 'url(' + view.images + similar.poster_path  + ')'}" >
		                </div>
				    </div>
			    </div>
			    <button class="bt_left"(click) = "movieSlider('left')"> < </button>
			    <button class="bt_right"(click) = "movieSlider('right')"> > </button>
			</div>
		</div>
	</div>
</div>

