
<div class= "main-panel">

	<div style="
		z-index: 50;
			background-color: black;
			position: absolute;
			width: 100%;
			height: 0;
			padding-bottom: 8%;
			margin-top: 34%;
			opacity: 0.5;
		">
			
	</div>

	<div class="container">
		<video autoplay="true" style="filter:grayscale(0%);" muted loop>
			<source src="../../../../assets/videos/Movie Mashup Trailer 2017.mp4" type="video/mp4">
		</video>
		<p align="center" class="text"> MOVIE CENTER</p>
		<p align="center" class="subtitle"> Final web site project of Alert Logic course</p>
		<p align="center" class="subtitle"> BY JUAN NARVAEZ</p>
		<div align="center" style="position: relative">
			<button  (click)="goMovies()" class="btn">GO MOVIES</button>
		</div>	
	</div>
	
</div>
