
<!-- <iframe width="560" height="315" 
	    			[src]="video|safe-video" frameborder="0" style="
	    				position: absolute;
	    				top: 0;
	    				left: 0;
	    				width: 100%;
	    				height: 100%;
	    			">
</iframe> -->
<!-- <router-outlet></router-outlet> -->
<p>Hola {{video}}</p>
<div *ngFor="let movie of view.movies.results">
	<!-- {{movie.original_title}} -->
	<!-- {{movie.poster_path}} -->
	<!-- <movie-tile></movie-tile> -->
	
	<!-- <a href="/home/detailMovie"
			title="{{ movie.title }}"
			ng-if="movie.poster_path"
			> -->

	<div *ngIf="view.images"
		[ngStyle]="{'background-image': 'url(' + view.images + movie.poster_path + ')'}" 
		(click)="goMovieDetile(movie.id)" 
		style="
			float: left; 
			margin: 10px; 
			width: 150px; 
			height: 225px;
			background-size: 150px;
		" >
		
			<!-- <div>
		    	<img src="{{view.images}}{{ movie.poster_path }}"
		        style="width: 150px" />
		    </div> -->
		    <!-- <div>{{ movie.vote_average }}</div> -->
		
	</div>

	<!-- </a> -->

</div>

<div *ngIf="view.movies.results">
	
	<!-- {{view.movies.results[0].original_title}} -->
</div>

<button (click)="searchMovie()">Peticion movies tmdb</button>