<div style="overflow: hidden; padding-bottom: 100px; background-image: url('../../../../assets/images/background_6.jpg'); color: white" >
	
	

	<div style="padding-top: 120px; margin-left: 7%;">

		<div style="width: 2.5%; float: left; padding: 20px;">
			<div align="center" class="ico info"></div>
			<p align="center">info</p>
			<hr>
		</div>
		<div style="
		background-image: url('../../../../assets/images/profile-img-about-me.jpg'); 
		background-size: cover;
		background-repeat: no-repeat;
		height: 0;
		padding-bottom: 37.5%;
		width: 25%;
		float: left;
		box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
		">
	
		</div>
		<div style="width: 40%; float: left; padding: 20px; ">
			<h1 style="padding: 0px; margin: 0px; color: white">JUAN NARVAEZ</h1>
			<p style="color: red;">Universidad del Valle</p>
			<p style="opacity: 0.6">Computer Science student with a high degree of responsibility, creativity, initiative and adaptability. Also excellent skills for communication and problem resolution. Focus on algorithms design, software development, data bases, and image processing. Lover of challenges, always willing to learn, passionate for implement efficient algorithm solutions and good look and feel designs.</p>
			<p><b>EDUCATION:</b></p>
			<p style="opacity: 0.6">Awarded 3 times by academic stimulus for being at the top of the class Member of the administrative group for Computer Science Study Center (CENESIS) from 2013 to 2015. Participated in ACM-ICPC International Collegiate Programing Contest in 2013 Leader of the pilot program for first-semester students from 2013 to 2016 Teaching assistant of Algorithms and Programming, Programming Fundamentals, Introduction to IT andIntroduction to Computer Science courses 2013 to 2016</p>
			<p><b>Undergraduate Classes</b></p>
			<p style="opacity: 0.6">Software Development I and II (2015): Java and Django Databases (2014): Java and SQL Postgres Analysis and Design of Algorithms (2014): C++ Artificial Intelligence (2015): Python  Digital image processing (2016): C++ Software testing (2016): JavaArtificial life(2015): Python KDD(2017): MySQLLanguages and Technologies</p> 
			
		</div>
		<div style="width: 20%; float: left; margin-top: 10%">
			
			<p>FOLLOW ME:</p>
			<hr>
			<div class="ico github"></div>
			<br>
			<br>
			<br>

			
			
			<p>CONTACT ME: </p>
			<hr>
			<div class="ico mail"></div>
			<p>juan.narvaez@correounivalle.edu.co</p>
			<div class="ico cellphone"></div>
			<p>+57 312 847 6755</p>
		</div>
		<div class="clear-both"></div>
	</div>



</div>

