<div style="background-image: url('../../../../assets/images/background_3.jpg'); background-size: cover;" >
	
<div style="
	background-image: url('../../../../assets/images/profile-img-about-me.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 40%;
	width: 30%;
	">
	
</div>

<p>Computer Science student with a high degree of responsibility, creativity, initiative and adaptability. Also excellent
skills for communication and problems resolutions. Focus on algorithms design, software development, data bases, and
image processing. Lover of the challenges, always willing to learn, passionate for implement efficient algorithm
solutions and good look and feel designs.</p>	
<h1>EDUCATION</h1>
<p>Awarded 3 times by academic stimulus for being at the top of the class
Member of the administrative group for Computer Science Study Center (CENESIS) from 2013 to 2015.
Participated in ACM-ICPC International Collegiate Programing Contest in 2013
Leader of the pilot program for first-semester students from 2013 to 2016
Teaching assistant of Algorithms and Programming, Programming Fundamentals, Introduction to IT and
Introduction to Computer Science courses 2013 to 2016</p>	

<p>
	Undergraduate Classes

Software Development I & II (2015): Java & Django
Databases (2014): Java & SQL Postgres
Analysis and Design of Algorithms (2014): C++
Artificial Intelligence (2015): Python

Digital image processing (2016): C++
Software testing (2016): Java
Artificial life(2015): Python
KDD(2017): MySQL
Languages and Technologies

Programming languages: Python, Java, C++ and Scheme
Front-end Programming: Django, HTML5, CSS
Another interesting programs: Photoshop and After Effects
Database: PostgreSQL, MySQL, some PL
Spanish (Native), English (Medium)
</p>

<h1>EXPERIENCE</h1>
<p>Universidad Del Valle - Cali, Monitor in the pilot program of accompaniment to Technology and Engineering of Systems
first semester students. Main function: Leader of the group of monitors assigned to carry out the project, monitor
assigned to the area of Fundamentals of programming languages and Calculus I, academic advisor and companion in
activities of university welfare. Achievements: There was a significant reduction in the dropout rate of first semester.
students. Learn the importance of teamwork and proactive leadership. Immediate boss: PhD. Raúl Ernesto Gutiérrez de
Piñerez Reyes [Director of the Systems Engineering Program] Telephone: 3212100 - Ext: 2786
Banco de Occidente - Nine months as functional analyst in CBS ACTIVAS project. Main function: Functional
requirements documentation, approach to users, functional test design, exposure of topics to users. Achievements: An
alpha prototype for loan simulation that that avoided generating additional development. . Immediate boss: Martha
Loaiza [Functional team leader] Telephone: 316 408 2229</p>


<h1>Interesting Data</h1>
<p>
	Medalist swimmer [B Category] representing the Universidad del Valle at the Icesi’s Cup 2014 and 2015.
Dancer of Folkloric Ballet Carmen Lopez, dance group of Universidad del Valle, with which I had the opportunity to proudly represent my
university in city of Pasto, Manizales, Tulua and Bogota; and my country at the FFITU 2015 in Mexico City, Mexico.
</p>
</div>