<div class="main-footer-panel">
	<div class="footer-gradient">
		
		<div class="footer-info-panel">
			<div style="float: left;margin-left:30%; opacity: 0.9; margin-top:5%; width: 60%; height:0; padding-bottom: 23%; background-size:cover; background-repeat:no-repeat; background-image:url('../../../../assets/images/tmdb-white-log.png') ">
				
			</div>
		</div>

		<div  class="footer-info-panel">
			
		</div>

		<div class="footer-info-panel">
			<div>
				<div>
					<p align="center" class="footer-white-title" >MOVIE CENTER</p>
					<p align="center" class="footer-subtitle" >Developed for Alert Logic INC</p>
					<p align="center" class="footer-subtitle"  >Angular course 2017</p>
				</div>
				<br>
				<br>
				<div class="social-media">
					<a href="https://github.com/juannarvaez">
					<div class="footer-ico github">
						
					</div>
					</a>
					<a href="https://es-la.facebook.com/AlertLogic/">
					<div class="footer-ico facebook">
						
					</div>
					</a>
					<a href="https://www.youtube.com/user/AlertLogicTV">
					<div class="footer-ico youtube">
						
					</div>
					</a>
				</div>
			</div>
		</div>

		<div class="footer-info-panel">
			<div >
				<p class="footer-dark-title">ABOUT JUAN NARVAEZ</p>

				<p ><b>Universidad del Valle</b></p>
				<p class="footer-subtitle">Software Engineer student</p>
				<p class="footer-subtitle">P: +57 312 847 6755</p>

				<br>

				<p>Email:</p>
				<p class="footer-subtitle">juan.narvaez@correounivall</p>

				<br>
				<p class="aboutme-link" (click)="goAboutMe()">About me detail</p>
			</div>
		</div>
		
	</div>

	<div class="footer-bottom-bar">
		<p class="footer-subtitle copyright"> 
			© Juan Camilo Narvaez
		</p>
		
	</div>
</div>