<div style="color: white;">
	<div style="
			/*background-color: red; 						*/
			background: rgba(191,2,2,1);
			background: -moz-linear-gradient(left, rgba(191,2,2,1) 0%, rgba(240,0,0,1) 51%, rgba(179,2,2,1) 99%, rgba(179,2,2,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(191,2,2,1)), color-stop(51%, rgba(240,0,0,1)), color-stop(99%, rgba(179,2,2,1)), color-stop(100%, rgba(179,2,2,1)));
			background: -webkit-linear-gradient(left, rgba(191,2,2,1) 0%, rgba(240,0,0,1) 51%, rgba(179,2,2,1) 99%, rgba(179,2,2,1) 100%);
			background: -o-linear-gradient(left, rgba(191,2,2,1) 0%, rgba(240,0,0,1) 51%, rgba(179,2,2,1) 99%, rgba(179,2,2,1) 100%);
			background: -ms-linear-gradient(left, rgba(191,2,2,1) 0%, rgba(240,0,0,1) 51%, rgba(179,2,2,1) 99%, rgba(179,2,2,1) 100%);
			background: linear-gradient(to right, rgba(191,2,2,1) 0%, rgba(240,0,0,1) 51%, rgba(179,2,2,1) 99%, rgba(179,2,2,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf0202', endColorstr='#b30202', GradientType=1 );
			height: 300px;
		">
		<div style="float: left; width: 40%">
			.
		</div>

		<div  style="float: left; width: 30%;">
			<div style=" padding-top: 50px;">
				<div>
					<p align="center" style="font-weight: bold; font-size: 20px;">MOVIE CENTER</p>
					<p align="center" style="color: rgba(255,255,255,0.6);" >Developed for Alert Logic INC</p>
					<p align="center" style="color: rgba(255,255,255,0.6);" >Angular course 2017</p>
				</div>
				<br>
				<br>
				<div class="social-media" style=" padding-top: 3px; margin: 0 auto; width: 30%">
				<a href="https://github.com/juannarvaez">
					<div  style="padding-left: 10px; float:left; background-repeat: no-repeat; background-image:url('../../../../assets/icons/github-logo-24.png'); height: 24px; width: 24px;">
						
					</div></a>
					<div  style="padding-left: 10px; float:left; opacity: 0.5; background-repeat: no-repeat; background-image:url('../../../../assets/icons/social-facebook-circular-button-24.png'); height: 24px; width: 24px;">
						
					</div>
					<div  style="padding-left: 10px; float:left; opacity: 0.5; background-repeat: no-repeat; background-image:url('../../../../assets/icons/social-youtube-circular-button-24.png'); height: 24px; width: 24px;">
						
					</div>
				</div>
			</div>
		</div>

		<div style="float: left; width: 30%">
			<div style=" padding-top: 50px;">
				<p style="font-weight: bold; color: rgba(0,0,0,0.4);">ABOUT JUAN NARVAEZ</p>

				<p style="font-weight: bold">Universidad del Valle</p>
				<p style="color: rgba(255,255,255,0.6);">Software Engineer student</p>
				<p style="color: rgba(255,255,255,0.6);">P: +57 312 847 6755</p>

				<br>

				<p>Email:</p>
				<p style="color: rgba(255,255,255,0.6);" >juan.narvaez@correounivall</p>

				<br>
				<p>About me detail</p>
			</div>
		</div>
		
	</div>
	<div style="background-image:url('../../../../assets/images/footer_2.jpg'); height: 30px;">
		<p style="float:left; color: rgba(255,255,255,0.6); padding-left: 10%; padding-top: 5px;"> 
			© Juan Camilo Narvaez
		</p>
		
	</div>
</div>