<div class="main-footer-panel">
	<div class="footer-gradient">
		<div class="footer-info-panel"> <!-- tmbd section -->
			<a target="_blank" href="https://www.themoviedb.org/?language=es">
				<div class="tmdb-logo"></div>
			</a>
		</div>
		<div  class="footer-info-panel"> <!-- links section -->
			
		</div>
		<div class="footer-info-panel">  <!-- Movie center info section -->
			<div>
				<div>
					<p align="center" class="footer-white-title" >MOVIE CENTER</p>
					<p align="center" class="footer-subtitle" >Developed for Alert Logic INC</p>
					<p align="center" class="footer-subtitle"  >Angular course 2017</p>
				</div>
				<br>
				<br>
				<div class="social-media">
					<a  target="_blank" href="https://github.com/juannarvaez">
					<div class="footer-ico github"></div>
					</a>
					<a  target="_blank" href="https://es-la.facebook.com/AlertLogic/">
					<div class="footer-ico facebook"></div>
					</a>
					<a  target="_blank" href="https://www.youtube.com/user/AlertLogicTV">
					<div class="footer-ico youtube"></div>
					</a>
				</div>
			</div>
		</div>
		<div class="footer-info-panel"> <!-- Personal information section -->
			<div >
				<p class="footer-dark-title">ABOUT JUAN NARVAEZ</p>

				<p ><b>Universidad del Valle</b></p>
				<p class="footer-subtitle">Software Engineer student</p>
				<p class="footer-subtitle">P: +57 312 847 6755</p>

				<br>

				<p>Email:</p>
				<p class="footer-subtitle">juan.narvaez@correounivall</p>

				<br>
				<p class="aboutme-link" (click)="goAboutMe()">About me detail</p>
			</div>
		</div>
	</div>
	<div class="footer-bottom-bar"> <!-- Copiright section -->
		<p class="footer-subtitle copyright"> 
			© Juan Camilo Narvaez
		</p>
	</div>
</div>